.layout {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
}

.top {
  display: flex;
  flex-direction: row;
  width: 100vw;
  padding-bottom: 32px;
}

.topLeft {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.topRight {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  border-top: 1px solid darkslategray;
  padding-top: 32px;

}


